<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <title>{{ title }} - RPS</title>
</head>

<body>
    <header>
        <nav>
            <div class="dropdown">
                <button class="dropbtn">
                    <a href="/rps">Home</a>
                </button>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Play URL mode</button>
                <div class="dropdown-content">
                    <a href="/rps/rock/rock">
                        Player 1 Rock / Player 2 Rock
                    </a>
                    <a href="/rps/paper/paper">
                        Player 1 Paper/ Player 2 Paper
                    </a>
                    <a href="/rps/scissors/scissors">
                        Player 1 Scissors / Player 2 Scissors
                    </a>
                    <a href="/rps/rock/scissors">
                        Player 1 Rock / Player 2 Scissors
                    </a>
                    <a href="/rps/paper/rock">
                        Player 1 paper/ Player 2 Rock
                    </a>
                    <a href="/rps/scissors/paper">
                        Player 1 Scissors / Player 2 Paper
                    </a>
                    <a href="/rps/rock/paper">
                        Player 1 Rock / Player 2 Paper
                    </a>
                    <a href="/rps/paper/scissors">
                        Player 1 paper/ Player 2 Scissors
                    </a>
                    <a href="/rps/scissors/rock">
                        Player 1 scissors / Player 2 Rock
                    </a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Play LAN PVP Mode</button>
                <div class="dropdown-content">
                    <a href="/rps/LAN/player1">
                        Player 1
                    </a>
                    <a href="/rps/LAN/player2">
                        Player 2
                    </a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">
                    <a href="/rps/pve">Play RPS PVE Mode</a>
                </button>
            </div>
        </nav>


    </header>
    <hr>
    {% block content %} {% endblock %}
    <footer>
        <section>
            Rock Paper Scissors is powered by Flask!
            css is shamelessly stolen from w3Schools
        </section>
    </footer>
</body>

</html>