{% extends "base.html" %}
{% block content %}
<section>
    <form action="/rps/pvp" method="post">
        <div>
            <select name="player1_choice">
                <option value="rock">Rock</option>
                <option value="paper">Paper</option>
                <option value="scissors">Scissors</option>
            </select>
        </div>
        <div>
            <select name="player2_choice">
                <option value="rock">Rock</option>
                <option value="paper">Paper</option>
                <option value="scissors">Scissors</option>
            </select>
            <input type="submit" value="Submit">
        </div>
    </form>
</section>

<section>
    {{ outcome }}
</section>
{% endblock %}