{% extends "base.html" %}
{% block content %}
<section>
    <div>
        Choose and option for {{ player }}
    </div>
    <form action="/rps/LAN/{{player}}" method="post">
        <select name="{{player}}_choice">
            <option value="rock">Rock</option>
            <option value="paper">Paper</option>
            <option value="scissors">Scissors</option>
        </select>
        <input type="submit" value="Submit">
    </form>
</section>

<section>
    {{ outcome }}
</section>
{% endblock %}